html,
body {
  height: 100%; }

a,
a .fa,
a .glyphicon,
a:hover,
a:hover .fa,
a:hover .glyphicon,
a:active,
a:focus {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.login-page {
  font-family: 'Roboto Condensed', sans-serif; }
  .login-page .login-section .login-box {
    padding: 2rem; }
    .login-page .login-section .login-box .login-box-body {
      padding: 15px; }
      .login-page .login-section .login-box .login-box-body .input-group .input-group-prepend .input-group-text .fa {
        width: 18px;
        text-align: center; }
      .login-page .login-section .login-box .login-box-body .input-group .form-control,
      .login-page .login-section .login-box .login-box-body .input-group .custom-select,
      .login-page .login-section .login-box .login-box-body .form-group .form-control,
      .login-page .login-section .login-box .login-box-body .form-group .custom-select {
        font-weight: 300; }

/*.info-box {
  height: 100%;
  background: url("/Web/Resources/Images/whoarewe-globalization.jpg") no-repeat center center;
  background-size: cover; }*/
  .info-box .client-testimonials {
    padding: 30px;
    margin-top: 80px; }
    .info-box .client-testimonials .owl-carousel {
      background: #f8f8f8;
      border-radius: 4px; }
      .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta {
        list-style: none;
        margin-bottom: 0;
        padding: 0; }
        .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-author p {
          margin: 0;
          padding-top: 5px;
          font-size: 13px;
          line-height: 16px; }
        .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-info {
          font-weight: 300;
          text-align: justify;
          font-size: 14px; }
          .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-info blockquote {
            margin-bottom: 5px; }
          .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-info .testimonial-votes {
            color: #F7AC00; }
            .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-info .testimonial-votes .fa {
              padding-right: 4px; }
              .info-box .client-testimonials .owl-carousel .testimonial-item .testimonial-meta .testimonial-info .testimonial-votes .fa:last-child {
                padding-right: 0; }
      .info-box .client-testimonials .owl-carousel .owl-dots {
        margin: 0; }
  .info-box .strategic-partners {
    padding: 0 30px; }
    .info-box .strategic-partners ul.owl-carousel {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      position: relative; }
      .info-box .strategic-partners ul.owl-carousel li a {
        display: inline-block; }
        .info-box .strategic-partners ul.owl-carousel li a img {
          padding: 4px;
          border: 1px solid #ffffff; }
      .info-box .strategic-partners ul.owl-carousel .owl-nav {
        margin: 0; }
        .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-prev,
        .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-next {
          position: absolute;
          top: 10px;
          color: #ffffff;
          font-size: 28px; }
          .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-prev:hover,
          .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-next:hover {
            background: transparent; }
        .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-prev {
          left: -30px; }
        .info-box .strategic-partners ul.owl-carousel .owl-nav .owl-next {
          right: -30px; }

.btn-radius {
  border-radius: 20px; }

.btn-login {
  background: linear-gradient(to right, #D31027, #EA384D);
  color: #ffffff;
  font-weight: 300; }
  .btn-login > .fa {
    width: 18px;
    text-align: center; }

/*--- Social ---*/
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0; }
  .social-icons li {
    margin-left: 10px;
    display: inline-block; }
    .social-icons li a.s-icon {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      background-color: transparent;
      color: #ffffff;
      /*border: 1px solid $color-white;*/
      /*border-radius: 50%;*/ }
      .social-icons li a.s-icon i {
        color: #ffffff; }
    .social-icons li a {
      color: #ffffff; }
      .social-icons li a > span.fa {
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.1); }
    .social-icons li a:not(.s-icon):hover {
      color: #fafa00; }
    .social-icons li a.s-icon.facebook {
      background-color: #007acc; }
    .social-icons li a.s-icon.skype,
    .social-icons li a.s-icon.twitter {
      background-color: #00a1e1; }
    .social-icons li a.s-icon.instagram {
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }
    .social-icons li a.s-icon.youtube,
    .social-icons li a.s-icon.pinterest {
      background-color: #cb2027; }
    .social-icons li a.s-icon.google,
    .social-icons li a.s-icon.google-plus {
      background-color: #d24b3a; }
    .social-icons li a.s-icon.email {
      background-color: #17a2b8; }
    .social-icons li a.s-icon.phone {
      background-color: #0083af; }
    .social-icons li a.s-icon:hover {
      border-color: #ffffff;
      transform: rotateZ(45deg); }
      .social-icons li a.s-icon:hover i {
        transform: rotateZ(-45deg); }
    .social-icons li:first-child {
      margin-left: 0px; }

/*-- RESPONSIVE --*/
/* sm */
/* xs */
@media (max-width: 575.98px) {
  .info-box .client-testimonials {
    margin-top: 30px; } }

/* XS Portrait */
@media (max-width: 480px) {
  .info-box .client-testimonials {
    margin-top: 30px; } }
