@media (max-width: 575.98px) {
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #232323; }
  .main-header .logo {
    float: left;
    width: 50px;
    height: 48px;
    line-height: 48px;
    z-index: 9999;
    padding: 0; }
    .main-header .logo .logo-mini {
      display: inline-block; }
      .main-header .logo .logo-mini > b {
        letter-spacing: 1px; }
    .main-header .logo .logo-lg {
      display: none; }
  .main-header .navbar .navbar-collapse.pull-left {
    width: 100%; }
    .main-header .navbar .navbar-collapse.pull-left .navbar-nav {
      margin-left: 0;
      margin-right: 0; }
  .main-header .navbar .navbar-custom-menu {
    position: absolute;
    top: 0; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      width: 40px;
      padding: 0 !important; }
      .main-header .navbar .navbar-custom-menu .navbar-nav > li > a > .user-image {
        float: none;
        margin-top: 0; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > .dropdown-menu {
      margin: 0;
      padding: 0; }
  .main-header .navbar .navbar-toggle {
    border-radius: 0; }
    .main-header .navbar .navbar-toggle:hover {
      background: rgba(0, 0, 0, 0.1); } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #232323; }
  .main-header .logo {
    float: left;
    width: 50px;
    height: 48px;
    line-height: 48px;
    z-index: 9999;
    padding: 0; }
    .main-header .logo .logo-mini {
      display: inline-block; }
      .main-header .logo .logo-mini > b {
        letter-spacing: 1px; }
    .main-header .logo .logo-lg {
      display: none; }
  .main-header .navbar .navbar-collapse.pull-left {
    width: 100%; }
    .main-header .navbar .navbar-collapse.pull-left .navbar-nav {
      margin-left: 0;
      margin-right: 0; }
  .main-header .navbar .navbar-custom-menu {
    position: absolute;
    top: 0; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      width: 40px;
      padding: 0 !important; }
      .main-header .navbar .navbar-custom-menu .navbar-nav > li > a > .user-image {
        float: none;
        margin-top: 0; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > .dropdown-menu {
      margin: 0;
      padding: 0; }
  .main-header .navbar .navbar-toggle {
    border-radius: 0; }
    .main-header .navbar .navbar-toggle:hover {
      background: rgba(0, 0, 0, 0.1); } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .main-header .navbar .navbar-custom-menu {
    position: static;
    margin-top: 4px; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
      height: 48px;
      line-height: 48px;
      text-align: center;
      width: auto;
      padding: 0 10px !important; }
      .main-header .navbar .navbar-custom-menu .navbar-nav > li > a > .user-image {
        float: none;
        margin-top: 0; }
    .main-header .navbar .navbar-custom-menu .navbar-nav > li > .dropdown-menu {
      margin: 0;
      padding: 0; } }
