<?xml version="1.0"?>
<root>
	<menus>
		<menu title="Bảng điều khiển" url="bang-tin" per="0" module="MenuGroupHomeMain" icon="fa fa-tachometer-alt" type="2">
			<group name="Bảng điều khiển"  icon="fas fa-columns" bg-color="bg-green">
				<item title="Bảng điều khiển"           url="bang-dieu-khien" icon="fas fa-tachometer-alt" per="0" module="DashBoardMainTabs"   label="New" icon-color="text-aqua" />
				<item title="Đang sử dụng"              url="dang-su-dung"    icon="fab fa-servicestack"   per="0" module="DashBoardUsing"      label="New" icon-color="text-green" />
				<item title="Đã sẵn sàng(chờ cấu hình)" url="co-the-su-dung"  icon="fas fa-cubes"          per="0" module="DashBoardCanUse"                 icon-color="text-yellow" />
				<item title="Danh mục bảng điều khiển"  url="tab-dieu-khien"  icon="fa fa-sitemap"         per="0" module="ManageDashboardTabs"             icon-color="text-purple" />
			</group>
		</menu>
	</menus>
</root>
