<?xml version="1.0"?>
<root>
	<menus>
		<menu title="Báo cáo" url="bao-cao" module="MenuGroupHomeMain" icon="fas fa-chart-pie">
			<group name="Báo cáo hoạt đông" icon="fas fa-wallet" bg-color="bg-blue">
				<item title="Báo cáo hoạt động"                      url="bao-cao-log-hoat-dong"            icon="fas fa-user-clock"         per="21800"                                                  module="ManagerViewLogAction"             icon-color="text-maroon" label="New" />
				<item title="Báo cáo đăng nhập hệ thống"             url="bao-cao-dang-nhap-he-thong"       icon="fas fa-user-lock"          per="21801"                                                  module="ManagerViewLogLoginSystem"        icon-color="text-aqua" label="New" />
				
			</group>
		</menu>
	</menus>
</root>
