<?xml version="1.0"?>
<root>
	<menus>
		<menu title="Quản trị chung" url="cau-hinh-he-thong" module="MenuGroupHomeMain" icon="fa fa-cogs">
			<group name="Doanh nghiệp" icon="fas fa-save" bg-color="bg-blue">
				<item title="Công ty"                   url="cong-ty"            icon="fa fa-suitcase"             per="6"     pers="7,8,9,10"                                                 module="ManageCompanies"                 icon-color="text-maroon"              labelProvider="Core.Sites.Apps,Web.Modules.FormCompanies.ManageCompaniesMenuLabel" />
				<item title="Gói dịch vụ"               url="goi-dich-vu"        icon="fas fa-bezier-curve"        per="11" pers="12,13,14"                                                    module="ManagePackageServices"           icon-color="text-navy" label="New" />
				<item title="Phân quyền dịch vụ"        url="phan-quyen-dich-vu" icon="fas fa-key"                 per="16"                                                                    module="ManagePackageServiceModules"     icon-color="text-red" label="Important" />
				<item title="Công ty dùng dịch vụ"      url="cty-dung-dich-vu"   icon="fas fa-business-time"       per="17" pers="19,20,21"                                                    module="ManageCompanyPackageServices"    icon-color="text-light-blue" label="New" />
			</group>

			<group name="Tài khoản" icon="fa fa-users" bg-color="bg-maroon">
				<item title="Người dùng"                url="nguoi-dung"         icon="fa fa-users"                per="1"     pers="2,3,4,5,14500,20901,20902,20903,20904,20905"              module="ManageUsers"                     icon-color="text-blue"                labelProvider="Core.Sites.Apps,Web.Modules.FormUsers.ManageUsersMenuLabel" />
				<item title="Theo dõi nhân viên"        url="theo-doi-nhan-vien" icon="fa fa-binoculars"           per="21000"                                                                 module="ViewUserState"                   icon-color="text-green" />
				<item title="Phân quyền"                url="phan-quyen"         icon="fa fa-lock"                 per="18"                                                                    module="ManageUserPermissions"           icon-color="text-purple"              hide="true" />
				<item title="Thông tin cá nhân"         url="thong-tin-ca-nhan"  icon="fa fa-address-card"         per="0"                                                                     module="FormUpdateUser"                  icon-color="text-navy" />
				<item title="Thông báo của tôi"         url="thong-bao-cua-toi"  icon="fa fa-bell"                 per="0"                                                                     module="ManageNotifycationByUser"        icon-color="text-maroon" label="New" />
			</group>

			<group name="Cấu hình hệ thống" icon="fa fa-cogs" bg-color="bg-red">
				<item title="Cấu hình chung"            url="cau-hinh-chung"     icon="fa fa-cog"                  per="21200"                                                                 module="FormUpdateGlobalConfig"          icon-color="text-light-blue" label="Important" />
				<item title="Cấu hình công ty"          url="cau-hinh-cong-ty"   icon="fa fa-cogs"                 per="11400"                                                                 module="FormUpdateCompanyConfig"         icon-color="text-navy" label="Important" />
				<item title="Thông báo"                 url="thong-bao"          icon="fa fa-bell"                 per="22600" pers="22601,22602,22603"                                        module="ManageNotifications"             icon-color="text-green" label="New" />
				<item title="Keyword hệ thống"                   url="tu-vung-he-thong"            icon="fas fa-language"            per="2800"  pers="2801,2802,2803"                                           module="ManageLabels"                    icon-color="text-orange" label="Important" />
			</group>
		</menu>
	</menus>
</root>

