<?xml version="1.0"?>
<root>

	<menus>
		<!--thu xem co dc ko-->
		<menu title="Website" url="website" module="MenuGroupHomeMain" icon="fab fa-internet-explorer">
			<group name="Cấu hình website" icon="fa fa-cogs" bg-color="bg-yellow">
				<item title="Từ vựng chuyển đổi"             url="web-tu-vung-chuyen-doi"         icon="fa fa-language"                             per="22900"       pers="22901,22902,22903"                                     module="WebManageLabels"       icon-color="text-green" />
				<item title="Thông tin seo"                  url="web-thong-tin-seo"              icon="fas fa-share-square"                        per="23000"                                                                    module="FormEditSeo"           icon-color="text-yellow" label="Important" />
				<item title="Thẻ meta"                       url="web-the-meta"                   icon="fa fa-tags"                                 per="23100"       pers="23101,23102,23103"                                     module="ManageMetas"           icon-color="text-yellow" label="Important" />
				<item title="Đường dẫn trang"                url="web-page-url"                   icon="fa fa-link"                                 per="23200"       pers="23201,23202,23203"                                     module="ManagePageUrls"        icon-color="text-blue" label="Important" />
			</group>

			<group name="Sản phẩm - Tài liệu" icon="far fa-images" bg-color="bg-blue">
				<item title="Chuyên mục sản phẩm"                     url="chuyen-muc-san-pham"                 icon="fa fa-list-ol"                              per="22700"       pers="22701,22702,22703"                                     module="ManageCategories"      icon-color="text-red"    Type="1" />
				<item title="Bài viết sản phẩm"                        url="bai-viet-san-pham"                    icon="far fa-newspaper"                           per="22800"       pers="22801,22802,22803"                                     module="ManageNews"          icon-color="text-blue" Type="1" />
				<item title="Tài liệu"                 url="tai-lieu"             icon="far fa-images"                             per="53000"       pers="53001,53002,53003"                                     module="ManageDocuments"   icon-color="text-blue"  />
			</group>

			<group name="Tin tức/Bài viết" icon="fas fa-newspaper" bg-color="bg-blue">
				<item title="Chuyên mục"                     url="web-chuyen-muc"                 icon="fa fa-list-ol"                              per="22700"       pers="22701,22702,22703"                                     module="ManageCategories"      icon-color="text-red"    Type="2" />
				<item title="Tin tức"                        url="web-tin-tuc"                    icon="far fa-newspaper"                           per="22800"       pers="22801,22802,22803"                                     module="ManageNews"            icon-color="text-blue" label="New" Type="2" />
				<item title="Từ khóa (Hashtags)"             url="web-hash-tags"                  icon="fas fa-hashtag"                             per="36000"       pers="36001,36002,36003"                                     module="ManageHashtags"        icon-color="text-yellow" />
				<item title="Địa chỉ banner"                 url="web-dia-chi-banner"             icon="fas fa-map-pin"                             per="23300"       pers="23301,23302,23303"                                     module="ManageBannerAddress"   icon-color="text-blue"  />
				<item title="Banner quảng cáo"               url="web-banner-quang-cao"           icon="far fa-images"                              per="23400"       pers="23401,23402,23403"                                     module="ManageBanners"         icon-color="text-green" label="New" />
			</group>

			<group name="Cấu hình riêng" icon="fas fa-cogs" bg-color="bg-red">
				<item title="Điểm bốc/dỡ"                 url="diem-boc-do"             icon="fas fa-map-pin"                             per="51000"       pers="51001,51002,51003"                                     module="ManageDirections"   icon-color="text-blue"  />
				<item title="Loại mặt hàng"             url="loai-mat-hang"                  icon="fa fa-tags"                             per="51000"       pers="51001,51002,51003"                                     module="ManageProductTypes"        icon-color="text-yellow" />
				<item title="Cấu hình cước phí"             url="cau-hinh-cuoc-phi"                  icon="fa fa-cogs"                             per="51000"       pers="51002"                                     module="FormPriceConfig"        icon-color="text-yellow" />
				<item title="Đối tác của bạn"                url="doi-tac-website"                icon="fa fa-users"                            per="52000"       pers="52001,52002,52003"                                     module="ManagePartnerToWebs"              icon-color="text-red" label="Slider" />
			</group>
		</menu>
	</menus>
</root>