<?xml version="1.0"?>
<root>
  
  <script src="/Common/Resources/js/1.jquery.min.js"></script>
  <script src="/Common/Resources/js/jquery.pathchange.js"></script>
  <script src="/Common/Resources/js/CoreAjax.js"></script>
  <script src="/Common/Resources/js/Core.js"></script>

  <!-- Bootstrap core CSS -->
  <link  type="text/css" href="/Projects/Web/Resources/css/bootstrap.min.css" rel="stylesheet"/>
  <link  type="text/css" href="/Projects/Web/Resources/css/style.css" rel="stylesheet"/>

  <link  type="text/css" href="/Projects/Web/Resources/css/animate.css" rel="stylesheet"/>
  <link  type="text/css" href="/Projects/Web/Resources/css/mobile.css" rel="stylesheet"/>
  <link  type="text/css" href="/Projects/Web/Resources/fonts-awesome/css/font-awesome.min.css" media="all" rel="stylesheet"  />
  <link  type="text/css" href="/Projects/Web/Resources/css/icofont.css" rel="stylesheet"/>
  <!-- Material Design Icons -->

  <!-- Select2 CSS -->


  <!-- Custom styles for this template -->
  <link  type="text/css" rel="stylesheet" href="/Projects/Web/Resources/plugins/select2/css/select2.min.css" />
  <!-- Owl Carousel -->
  <link  type="text/css" rel="stylesheet" href="/Projects/Web/Resources/plugins/owl-carousel/owl.carousel.css"/>
  <link  type="text/css" rel="stylesheet" href="/Projects/Web/Resources/plugins/owl-carousel/owl.theme.css"/>


  <script type="text/javascript" src="/Projects/Web/Resources/plugins/tether/tether.min.js"></script>
  <script type="text/javascript" src="/Projects/Web/Resources/js/popper.min.js"></script>

  <script type="text/javascript" src="/Projects/Web/Resources/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/Projects/Web/Resources/js/custom.js"></script>
  <!-- select2 Js -->
  
  <script type="text/javascript" src="/Projects/Web/Resources/plugins/select2/js/select2.min.js"></script>
  <!-- Owl Carousel -->
  <script type="text/javascript" src="/Projects/Web/Resources/plugins/owl-carousel/owl.carousel.js"></script>
  <!-- Custom -->



</root>