<?xml version="1.0"?>
<pages>
  
  <controls>
    <add tagPrefix="web" src="~/Web/Controls/Header.ascx" tagName="Header"/>
    <add tagPrefix="web" src="~/Web/Controls/Footer.ascx" tagName="Footer"/>
    <add tagPrefix="web" src="~/Web/Controls/Sidebar.ascx" tagName="Sidebar"/>
    <add tagPrefix="web" src="~/Web/Controls/Content.ascx" tagName="Content"/>
    <add tagPrefix="web" src="~/Web/Controls/BoxSearch.ascx" tagName="BoxSearch"/>
    <add tagPrefix="web" src="~/Web/Controls/FormLanguage.ascx" tagName="FormLanguage"/>
    <add tagPrefix="web" src="~/Web/Controls/ButtonSearch.ascx" tagName="ButtonSearch"/>
    
    <add tagPrefix="db" src="~/Web/Controls/DashBoards/Templates/ChartColumnByYear.ascx" tagName="ChartColumnByYear" />
    <add tagPrefix="db" src="~/Web/Controls/DashBoards/Templates/ChartColumnByMonthYear.ascx" tagName="ChartColumnByMonthYear" />
    <add tagPrefix="db" src="~/Web/Controls/DashBoards/Templates/ChartPie.ascx" tagName="ChartPie" />
    <add tagPrefix="db" src="~/Web/Controls/DashBoards/Templates/ContentSmall.ascx" tagName="ContentSmall" />
    <add tagPrefix="db" src="~/Web/Controls/DashBoards/Templates/ContentLarge.ascx" tagName="ContentLarge" />
  
    <add tagPrefix="web" src="~/Web/Controls/DayPilots/PilotScheduleControl.ascx" tagName="PilotScheduleControl" />
    <add tagPrefix="web" namespace="Core.Web.Extensions" assembly="Core" />
  </controls>
  <namespaces>
    <add namespace="Core.Extensions" />
    <add namespace="Core.Utility" />
    <add namespace="Core.Web.Extensions" />
    <add namespace="Core.Web.WebBase" />
    <add namespace="Core.Web.WebBase.HtmlBuilders" />

    <add namespace="Core.Sites.Apps.Web.Extensions" />
    <add namespace="Core.Sites.Apps.Web.Inputs" />

    
    <add namespace="Core.Business.Entities" />

    <add namespace="Core.Sites.Libraries" />
    <add namespace="Core.Sites.Libraries.Business" />
    <add namespace="Core.Sites.Libraries.Utilities" />
    <add namespace="Core.Sites.Libraries.Utilities.Sites" />

    <add namespace="Core.Sites.Apps.Web.Controls.DashBoards.Extensions" />
    <add namespace="Core.Sites.Apps.Web.Controls.DashBoards.BoxType" />
  </namespaces>
</pages>