<?xml version="1.0"?>
<root>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="1"/>
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Software/Landing_Software_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="2" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Contruction/Landing_Contruction_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="3" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Design/Landing_Design_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="4" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Edu/Landing_Edu_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="5" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Shops/Shop_Jewelry/Shop_Jewelry_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="6" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Shops/Shop_Clother/Shop_Clother_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="7" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Blogspots/Blog_Game/Blog_Game_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="8" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Blogspots/Video_Streaming/Video_Streaming_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="9" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Shops/Shop_Mobile/Shop_Mobile_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="10" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Shops/Shop_Vegetable/Shop_Vegetable_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="11" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Homes/Home_ForRent/Home_ForRent_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="12" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Homes/Home_ForSale/Home_ForSale_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="13" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Homes/Home_Land/Home_Land_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="14" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Classifieds/Classified_Ads/Classified_Ads_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="15" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Classifieds/Classified_All/Classified_All_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="16" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Company/Landing_Company_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="17" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>
  <page master="Projects/Landings/Landing_Restro/Landing_Restro_Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="18" />
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="Url404Engine" />
  </page>




</root>