<?xml version="1.0"?>
<root>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="1"/>
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="UrlCategoryEngine" CatType="0"/>
    <div>
      <module name="News" />
    </div>
  </page>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="UrlNewsEngine"/>
    <div>
      <module name="NewDetails" />
    </div>
  </page>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="Url404Engine" />
  </page>




</root>