<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Services/FeError.aspx" redirectMode="ResponseRewrite"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms name=".linkit" domain="localhost" slidingExpiration="true" protection="All"/>
    </authentication>
    <machineKey validationKey="E2F0639B4ED6081F31485DBFA0262376AC111705836BFD1105EA7CE9BB2B547EB0C1F53C329085E121403930A111A86E48676553A51AEFE0F0174745E6F4FD2B" decryptionKey="9C7564F0DC7B6C7219A0C44CB009C877896FA6CEC6472530" validation="SHA1"/>
    <pages>
      <namespaces>
        <add namespace="Core.FrontEnds.Libraries" />
        <add namespace="Core.FrontEnds.Libraries.Extensions" />
        <add namespace="Core.FrontEnds.Libraries.Images" />
        <add namespace="Core.FrontEnds.Libraries.Web" />
        <add namespace="Core.Extensions" />
      </namespaces>
      <controls>
        <add tagPrefix="sh" namespace="Core.Web.Extensions" assembly="Core" />
      </controls>
    </pages>
  </system.web>
  <appSettings configSource="Projects\Web\Settings\Settings.config"/>
  <system.webServer>
    <handlers>

      <add name="Js" path="Projects/Web/Resources/js/min.js" verb="*" type="Core.FrontEnds.Libraries.Web.Resource+Js" />
      <add name="Css" path="Projects/Web/Resources/css/min.css" verb="*" type="Core.FrontEnds.Libraries.Web.Resource+Css" />

    </handlers>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <error statusCode="404" path="/Services/FeError404.aspx" prefixLanguageFilePath="" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>