<?xml version="1.0"?>
<appSettings>
  <add key="LanguageHelper" value="Core.FrontEnd.Libraries.Web.LanguageProvider,Core.FrontEnd.Libraries" />
  <add key="FeProject" value="Web" />
  <add key="FeIsSaveThumb" value="1" />
  <add key="FeServerImage" value="http://localhost:1001" />
  <add key="FeStaticDomain" value="" />
  <add key="FeWebAssemblies" value="Core.FE.Sites.Api" />
  <add key="CompanyId" value="1" />
  
  <add key="owin:AutomaticAppStartup" value="false"/>
  <add key="Global" value="Core.FrontEnds.Libraries.Web.FeGlobal,Core.FrontEnds.Libraries" />

  <add key="MainDb" value="Data Source=112.78.2.68,1433;Initial Catalog=lin31795_SSERP_Code;User ID=lin31795_superadmin;Password=iadmin123!@#" />
  
</appSettings>