<?xml version="1.0"?>
<root>

	
	<link type="text/css" href="/Projects/Web/Resources/css/animate.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/fonts/font-awesome/css/font-awesome.css" media="all" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/style.css" rel="stylesheet" />



	<script type="text/javascript" src="/Projects/Web/Resources/js/jquery.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/main.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/wow.min.js"></script>
	
</root>