<?xml version="1.0"?>
<appSettings>
  <add key="LanguageHelper" value="Core.FrontEnd.Libraries.Web.LanguageProvider,Core.FrontEnd.Libraries" />
  <add key="FeProject" value="Web" />
  <add key="FeIsSaveThumb" value="1" />
  <add key="FeServerImage" value="https://sserp.vn" />
  <add key="FeStaticDomain" value="" />
  <add key="FeWebAssemblies" value="Core.FE.Suns" />
  <add key="CompanyId" value="1" />
  <add key="owin:AutomaticAppStartup" value="false"/>
  <add key="Global" value="Core.FrontEnds.Libraries.Web.FeGlobal,Core.FrontEnds.Libraries" />
  
  <add key="MainDb" value="Data Source=112.78.2.68,1433;Initial Catalog=lin31795_SSERP_Code;User ID=lin31795_superadmin;Password=iadmin123!@#" />
  <!--<add key="MainDb" value="Data Source=fancy.dotvndns.com,1441;Initial Catalog=teamdesign_info_SSERP;User ID=sserp;Password=iadmin123!@#" />-->
  <!-- Database localhost -->
  <!--<add key="MainDb" value="dnBMTUJ3ZjByYldWMUZtZEJ4a21mZjhURVg4TzRHdlVXNlp5OEY0S3RPdDlieWhackxRbUlxb3FTTzJ3Z29jeXF5cDFpMXVxN0hTUldwUUFZVllmNFlHeDcrZUtjVnErRkM0WUJaVWRCNVY1MVhRb1Nrc3NnU0VTV25YTW5ra1oxdHZ6NWdBVlQxNmdzTTdtbEpSNm9LNjBURmEvdzhiYkxpb3NOb1NaaFR3PUBkcFpBb1Q5ZDZkNjNBVXJuWFBMUHVOL0tuOHpla2RQcXFXMnIrby9lc2NjeEsvU0FjdGMvUXJmbUh4eEJZMTlpU0lWUFJKdi9nT09BWVkvTUJiTDlEQmU4UEtjekNTY0hnaXR2cS9JZi9sNUhlc25kQk1aUVhheW8xYTFuWnBPTlJIK0VNQlVEdHpvSzV0M1Q0dkV6UkE9PQ==" />-->
  <add key="EncodeConnectionString" value="false" />
</appSettings>