<?xml version="1.0"?>
<appSettings>
  <add key="LanguageHelper" value="Core.Sites.Libraries.Utilities.Sites.ProviderLanguage,Core.Sites.Libraries"/>
  <add key="Extension" value="html"/>

  <add key="VerJs" value="3.5"/>
  <add key="Language" value="2"/>
  <!--1= tiếng anh 2= tiếng việt-->
  <add key="CompanyFullPermission" value="1" />
  <add key="Project" value="Apps" />
  <add key="Domain" value="sserp.vn" />
  <!--<add key="DomainPartner" value="localhost:1002" />
  <add key="HubServer" value="https://sserp.vn" />-->
  <add key="UseWebCenter" value="false" />
  
  <add key="HttpType" value="https" />
  <add key="BrandLogo" value="/Web/Resources/Login/img/logo.png"/>
  <add key="BrandFavicon" value="/Web/Resources/Images/favicon.png"/>

  <add key="ShowZeroLiability" value="0" />
 
  <add key="MenuConfig" value="BangDieuKhien,Quantri,Baocao,Website" />
  <add key="Global" value="Core.Sites.Libraries.Utilities.DefaultGlobal,Core.Sites.Libraries@Core.Sites.Libraries.Utilities.ApiGlobal,Core.Sites.Libraries" />

  <!--<add key="MainDb" value="Data Source=fancy.dotvndns.com,1441;Initial Catalog=teamdesign_info_SSERP;User ID=lin31795_superadmin;Password=iadmin123!@#" />--> <!-- Database SSERP -->
  
  <!--<add key="MainDb" value="Data Source=fancy.dotvndns.com,1441;Initial Catalog=teamdesign_info_SSERP_Demo;User ID=lin31795_superadmin;Password=iadmin123!@#" />--> <!-- Database SSERP-Demo -->

  <!----><add key="MainDb" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=KSX_Admin;Integrated Security=true" /> <!-- Database localhost -->
</appSettings>