<?xml version="1.0"?>
<root>

  <page master="Projects/Web/Main" site="1">
    <urlengine name="UrlByPageUrlEngine" WebsiteId="10"/>
    <div>
      <module name="ModuleLoader" />
    </div>
  </page>


	<page master="Projects/Web/Main" site="1">
		<urlengine name="UrlProductDetailEngine"/>
		<div>
			<module name="Shop_Mobile_Shop_details" />
		</div>
	</page>

	<page master="Projects/Web/Main" site="1">
		<urlengine name="UrlCategoryEngine" CatType="1"/>
		<div>
			<module name="Shop_Mobile_Grid_left_sidebar" />
		</div>
	</page>
	<page master="Projects/Web/Main" site="1">
		<urlengine name="UrlSearchEngine"/>
		<div>
			<module name="Shop_Mobile_Grid_left_sidebar" />
		</div>
	</page>
  <page master="Projects/Web/Main" site="1">
    <urlengine name="Url404Engine" />
  </page>

</root>