<?xml version="1.0"?>
<root>

	<link type="text/css" href="/Projects/Web/Resources/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/style.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/animate.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/mobile.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/fonts-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/fonts/css/all.min.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/icofont.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/owl.carousel.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/owl.theme.css" rel="stylesheet" />
	<link type="text/css" href="/Projects/Web/Resources/css/select2.min.css" rel="stylesheet" />

	
	<script type="text/javascript" src="/Projects/Web/Resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/popper.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/tether.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/custom.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/select2.min.js"></script>
	<script type="text/javascript" src="/Projects/Web/Resources/js/owl.carousel.js"></script>



	
	<script src="/Common/Resources/js/CoreAjax.js"></script>
	<script src="/Common/Resources/js/Core.js"></script>
	<script src="/Common/Resources/js/linq.js"></script>
	<script src="/Common/Resources/js/Popup.js"></script>
	
	<script type="text/javascript" src="/Projects/Web/Resources/js/Main.js"></script>

</root>